/* --------------Dasboard menu---------- */
html, body {
    margin: 0;
    padding : 0;
    min-height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}
#dashboard{
    position: relative;
    background : #29B6F6;
    padding-left: 15px;
}

#heading{
    display: inline-block;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color : white;
    padding-left: 20px;
}

/* --------------buttons------------ */


button{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    background: white;
    color : black;
    border: 1px solid black;
    border-radius: 3px;
    padding : 5px 10px;
    border: 1px solid black;
    box-shadow: 1px 1px 2px 2px rgba(32, 32, 32, 0.75);
}

button:hover{
    background: black;
    color:white;
    box-shadow: 1px 1px 1px 1px rgba(50,50,50 0.75);
}

#logout{
    display: inline-block;
    border-color: aliceblue;    
    /* margin-left : 75%; */
    float: right;
    margin-top:23px;
    margin-right: 40px;
    box-shadow: none;
    background: #0086C3;
    color : white;
}
#logout:hover{
    background: white;
    color : #0086C3;
}


#Add-a-Complaint,#Add-a-Technican{
    float: right;
    background-color :#f44336;
    color : white;
    box-shadow:1px 1px black;
    padding : 7px 20px;
    border : none;
    margin:10px;
}
#Add-a-Technican{
    background-color: #673ab7;
}
#Add-a-Complaint:hover{
    background-color : white;
    color : #f44336;
    border:1px solid #f44336;
}
#Add-a-Technican:hover{
    border:1px solid #673ab7;
    background: white;
    color :#673ab7;
}

